body {
    background-color: #73343A;
    color: #f9f2e8;
    font-family: 'Playfair Display', serif;
}
.bg-wine {
    background-color: #73343A;
}
/* To make default scrollbar hidden*/
::-webkit-scrollbar {
    display: none;
}
/* Wine page collection loading in animation */
.winecard {
    animation: wineload 0.5s ease-out 0.3s 1 normal forwards;
    opacity: 0;
}
.wine-body {
    transition: 0.3s ease-out;
}
.wine-body:hover {
    transform: scale(105%);
    transition: 0.5s ease-out;
}
.winepage {
    height: 80vh;
    overflow-x: hidden;
}
.winepage div:nth-child(2) {
    animation-delay: 0.5s;
}
.winepage div:nth-child(3) {
    animation-delay: 1s;
}
.winepage div:nth-child(4) {
    animation-delay: 1.5s;
}
.winepage div:nth-child(5) {
    animation-delay: 2s;
}
.winepage div:nth-child(6) {
    animation-delay: 2.5s;
}
.winepage div:nth-child(7) {
    animation-delay: 3s;
}
.winepage div:nth-child(8) {
    animation-delay: 3.5s;
}
.winepage div:nth-child(9) {
    animation-delay: 4s;
}
.winepage div:nth-child(10) {
    animation-delay: 4.5s;
}
@keyframes wineload {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}
/* Navbar custom colors */
.navbutton {
    background-color: #73343A;
}
.navbutton:hover {
    background-color: white;
    color:#73343A;
    transition: 0.7s;
}
/* Loading animation */

.load-container {
    width: 500px;
    height: 500px;
    position: relative;
    left: 400px;
    top: 100px
}
.load-content {
    font-size: 100px;
    position: absolute;
    animation: loading 4s linear infinite;
    opacity: 0;
}
.load-body {
    padding: 10px;
    display: flex;
    justify-content: center;
}
@keyframes loading {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(200%);
    }
}
.load-body div:nth-child(2) {
    animation-delay: 1s;
}
.load-body div:nth-child(3) {
    animation-delay: 2s;
}
.load-body div:nth-child(4) {
    animation-delay: 3s;
}
/* background blur  */
.bg-blur {
    filter: blur(2px);
    transition: 0.5s;
}

.img-multiply {
    mix-blend-mode: multiply;
    opacity: 0.5;
}

/* Create wine form animation */
.wine-form {
    transform: translateX(1600px);
    animation: slidein 1s ease-out 0s 1 normal forwards;
    opacity: 0;
    filter: blur(2px);
}
.preview {
    transform: translateX(1600px);
    animation: slidein 1s ease-out 0.5s 1 normal forwards;
    opacity: 0;
    filter: blur(2px);
}
.quote {
    transform: translateX(1600px);
    animation: slidein 1s ease-out 1s 1 normal forwards;
    opacity: 0;
    filter: blur(2px);
}
.form-root input:nth-child(1) {
    animation-delay: 0.1s;
}
.form-root input:nth-child(2) {
    animation-delay: 0.2s;
}
.form-root input:nth-child(3) {
    animation-delay: 0.3s;
}
.form-root input:nth-child(4) {
    animation-delay: 0.4s;
}
.form-root input:nth-child(5) {
    animation-delay: 0.5s;
}
.form-root input:nth-child(6) {
    animation-delay: 0.4s;
}
.form-root input:nth-child(7) {
    animation-delay: 0.3s;
}
@keyframes slidein {
    0% {
        transform: translateX(1600px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0);
    }
}
/* Logo */
.custom-type {
    font-family: 'Monsieur La Doulaise', cursive;
    position: absolute;
    opacity: 0.2;
}
.likebutton:hover {
    background-color: white;
    color: #73343A;
}
.likebutton {
    background-color: #73343A;
    color: white;
}

.scroll_button:hover {
    transform: scale(120%);
    transition: 0.3s;
}
/* hover over button scale increase effect */
.heartButton {
    transition: 0.3s;
}
.heartButton:hover {
    transform: scale(110%);
    transition: 0.3s;
}
/* Home page load in animation */
.home-page {
    animation: welcome 1s ease-out 0.2s 1 normal forwards;
    opacity: 0;
}
@keyframes welcome {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}
.home-page:nth-child(2) {
    animation-delay: 1s;
}
.home-page:nth-child(3) {
    animation-delay: 2s;
}
/* Shaking effect */
.wine-login {
    animation: shake 0.2s linear 0s 3 normal forwards;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0)
    }
}
/* Make image border a circle */
.profile-img {
    border-radius: 50%;
}
.color-wine {
    color: #73343A;
}
.plusButton {
    transition: 1s;
}
.plusButton:hover {
    transform: rotate(180deg) scale(120%);
    filter: hue-rotate(360deg);
    transition: 1s;
}
.recommendation-load {
    animation: recLoad 1s ease-out 0.3s 1 normal forwards;
    opacity: 0;
    filter: blur(1px);
    transform: translateY(100%)
}
@keyframes recLoad {
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0%)
    }
}
.recommendation-load div:nth-child(2) {
    animation-delay: 1s;
}
.recommendation-load div:nth-child(3) {
    animation-delay: 1.5s;
}
.swirlIcon {
    transition: 2s;
}
.swirlIcon:hover {
    transition: 2s;
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
}
.log:hover {
    background-color: white;
    color: #73343A;
    transition: 0.3s;
}
.log {
    transition: 0.3s;
}
