body {
    background-color: #73343A;
    color: white;
}

.winecard {
    animation: wineload 0.5s ease-out 0.3s 1 normal forwards;
    opacity: 0;
}
.winepage div:nth-child(2) {
    animation-delay: 0.5s;
}
.winepage div:nth-child(3) {
    animation-delay: 1s;
}
.winepage div:nth-child(4) {
    animation-delay: 1.5s;
}
.winepage div:nth-child(5) {
    animation-delay: 2s;
}
.winepage div:nth-child(6) {
    animation-delay: 2.5s;
}
.winepage div:nth-child(7) {
    animation-delay: 3s;
}
.winepage div:nth-child(8) {
    animation-delay: 3.5s;
}
.winepage div:nth-child(9) {
    animation-delay: 4s;
}
.winepage div:nth-child(10) {
    animation-delay: 4.5s;
}
@keyframes wineload {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}
